/* @use "@material/theme";
with (
  $primary: #aca76da6,
  $secondary: #e7dca7,
  $surface: #252424,
  $on-primary: #442b2d,
  $on-secondary: #442b2d,
  $background: #1d1d1d,
);*/

@use "@material/typography" with (
  $font-family: unquote("Nunito, sans-serif")
);
@use "@material/snackbar/mdc-snackbar";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/elevation/mdc-elevation";
@use "@material/textfield/mdc-text-field";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/data-table/mdc-data-table";
@use "@material/icon-button/mdc-icon-button";
@use "@material/form-field/mdc-form-field";
@use "@material/checkbox/mdc-checkbox";
@use "@material/card/mdc-card";



